<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582721543558-t5f5jr3650tgns5ig2h3i52dpe46tv6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582721543558-t5f5jr3650tgns5ig2h3i52dpe46tv6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCinSPCwb9rRvwijPMfWeQOA94RvqZIN34</string>
	<key>GCM_SENDER_ID</key>
	<string>582721543558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TilimianDen.BuddyGram</string>
	<key>PROJECT_ID</key>
	<string>buddygram</string>
	<key>STORAGE_BUCKET</key>
	<string>buddygram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582721543558:ios:deb3a77e5f2f05a223e007</string>
	<key>DATABASE_URL</key>
	<string>https://buddygram.firebaseio.com</string>
</dict>
</plist>